:root {
  --nord0: #2E3440;
  --nord1: #3B4252;
  --nord2: #434C5E;
  --nord3: #4C566A;
  --nord4: #D8DEE9;
  --nord5: #E5E9F0;
  --nord6: #ECEFF4;
  --nord7: #8FBCBB;
  --nord8: #88C0D0;
  --nord9: #81A1C1;
  --nord10: #5E81AC;
  --nord11: #BF616A;
  --nord12: #D08770;
  --nord13: #EBCB8B;
  --nord14: #A3BE8C;
  --nord15: #B48EAD;
}

/* Dark mode colors. */
:root {
	--sl-color-accent-low: var(--nord11);
	--sl-color-accent: var(--nord12);
	--sl-color-accent-high: var(--nord13);
	--sl-color-white: var(--nord6);
	--sl-color-gray-1: var(--nord14);
	--sl-color-gray-2: var(--nord5);
	--sl-color-gray-3: var(--nord4);
	--sl-color-gray-4: var(--nord3);
	--sl-color-gray-5: var(--nord2);
	--sl-color-gray-6: var(--nord1);
	--sl-color-black: var(--nord0);
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: var(--nord7);
	--sl-color-accent: var(--nord8);
	--sl-color-accent-high: var(--nord9);
	--sl-color-white: var(--nord0);
	--sl-color-gray-1: var(--nord1);
	--sl-color-gray-2: var(--nord2);
	--sl-color-gray-3: var(--nord3);
	--sl-color-gray-4: var(--nord4);
	--sl-color-gray-5: var(--nord5);
	--sl-color-gray-6: var(--nord15);
	--sl-color-black: var(--nord6);
}


@media (prefers-color-scheme: light) {
	:root:not([data-theme='dark']) {
		--ec-codeBg: var(--nord6);
		--ec-codeFg: var(--nord3);
		--ec-codeSelBg: var(--nord5);
		--ec-gtrFg: var(--nord2);
		--ec-gtrBrdCol: #434C5E33; /* nord2 with alpha */
		--ec-gtrHlFg: #4C566AC4;   /* nord3 with alpha */
		--ec-uiSelBg: var(--nord8);
		--ec-uiSelFg: var(--nord0);
		--ec-focusBrd: var(--nord7);
		--ec-sbThumbCol: #2E34401A; /* nord0 with alpha */
		--ec-sbThumbHoverCol: #2E34405C; /* nord0 with more alpha */
		--ec-tm-markBg: #2E34401A; /* nord0 with alpha */
		--ec-tm-markBrdCol: #2E344055; /* nord0 with alpha */
		--ec-tm-insBg: #A3BE8C99; /* nord14 with alpha */
		--ec-tm-insDiffIndCol: #A3BE8CD0; /* nord14 with more alpha */
		--ec-tm-delBg: #BF616A99; /* nord11 with alpha */
		--ec-tm-delDiffIndCol: #BF616AD0; /* nord11 with more alpha */
		--ec-frm-shdCol: #D8DEE9; /* nord4 */
		--ec-frm-edActTabBg: var(--nord5);
		--ec-frm-edActTabIndTopCol: var(--nord8);
		--ec-frm-edTabBarBg: var(--nord15);
		--ec-frm-edBg: var(--nord5);
		--ec-frm-trmTtbBg: var(--nord15);
		--ec-frm-trmBg: var(--nord5);
		--ec-frm-tooltipSuccessBg: var(--nord14);
	}
}

